/* Styles go here */

body {
  margin: 0;
  padding: 0;
  background: url('img/bgbody.png');
  text-align: center;
}

.content-block {
  text-align: left;
  width: 70%;
  display: inline-block;
  background-color: white;
}


.links a {
  text-decoration: none;
  color: #666666;
  font-family: 'Martel Sans', 'arial', sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}

.header-block {
  /*border: 1px solid lightgrey;*/
  border: none;
  outline: 1px solid lightgrey;
  background: url('img/bgheader.png');
  background-size: 5px 5px;
}

.logo {
  height: 120px;
  width: 480px;
}
